form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nome{
  display: inline-block;
  margin-right: 10px;
}

.matricula{
  display: inline-block;
  margin-right: 10px;
  
}

#nome_aluno {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #CCCCCC;
  width: 300px;
}

button{
  color: #f73333;

}