body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFF5E4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Estilo do cabeçalho */
header {
  background-color: #CD5C08; /* Fundo laranja */
  padding: 0;
  text-align: center;
  color: white;
  width: 100%; /* Ajusta a largura para cobrir toda a tela */
  height: 12vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilo da seção principal */
main {
  background-color: #C1D8C3; /* Fundo verde claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px; /* Espaço entre o cabeçalho e o conteúdo */
  border-radius: 10px;
  padding: 20px; /* Espaço interno do main */
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

/* Estilo do formulário */
#meu-formulario {
  display: flex;
  flex-direction: column; /* Ajusta o layout para coluna */
  gap: 20px; /* Espaçamento entre os campos do formulário */
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ajusta a largura para ocupar 100% do formulário */
  max-width: 400px; /* Define a largura máxima dos campos */
  margin-top: 5px;
}

/* Estilo dos títulos das questões */
.titulo {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo das listas de alternativas */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  align-items: flex-start; /* Alinha os itens ao início (esquerda) */
  margin-bottom: 10px;
}

ul li input {
  margin-right: 10px;
  text-align: left; /* Espaçamento entre o radio button e o texto */
}

ul li label {
  display: inline-block;
  margin-left: 0; /* Garante que o label não tenha margem extra */
  text-align: left; /* Garante que o texto dentro do label esteja alinhado à esquerda */
}

/* Estilo do botão */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #CD5C08; /* Cor de fundo do botão */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #FF8C00; /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Garantir que o botão esteja abaixo das questões */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); /* Altura da tela menos a altura do cabeçalho */
  padding: 20px; /* Espaço interno */
}
